# Node.js
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo

# Logs et fichiers temporaires
logs/
*.log
*.sqlite3

# Config sensible
.env
.DS_Store

# Fichiers et répertoires non nécessaires au repo
storage/
code_storage/
astro-frontend/node_modules/
